@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');



body{

        /* background-color: black; */
        /* background-color: rgb(356, 123, 124) */
       /* background-color: #253674; */

       /* background: linear-gradient(rgb(240, 41, 140), rgb(33, 250, 33));*/
      /* background: radial-gradient(rgb(37, 37, 221), rgb(224, 203, 11));*/

      background-color: #3d1c30;

        background-size: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    img#eu{

        width: 200px;
        height: 200px;

        border-radius: 200px;

                /* width style color */
        border: 10px double rgb(255, 255, 255);

                    /* X    Y   esfumaçado  cor */
        box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);



    }

h1{
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-align: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;

    margin-bottom: 0px;

}

h2{

    color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: center;

    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;

    margin-bottom: 0px 0px 50px 0px;
    

}

figure{

        display: flex;
        justify-content: center;


}

.botao{


        background-color: #3d1c30;
        border: none;
        font-size: 30px;
        margin: 10px;
        padding: 20px;
        width: 400px;
        border-radius: 40px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
        transition: 0.3s;
        cursor: pointer;
        color: white;

}

.botao:hover{

        background-color:#3d1c30;
        font-size: 40px;
        transform: rotate(5deg);
}
.material-symbols-outlined {

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#rodape{

        display: flex;
        margin-top: 30px;

}

.icones{

        margin: 20px;

}


svg:hover{

        fill: #ffffff;
        cursor: pointer;

        transform: scale(1,1);

}

#modoescuro{

        position: absolute;
        top: 50%;
        right: 10px;
        
}